body {
  font-family: "Helvetica-Neue", arial, sans-serif;
  background-color: #ddd;
}

.frontcard {
  width: 750px;
  height: 1050px;

}

.backcard {
  width: 1050px;
  height: 750px;

}

.front {
  width: 750px;
  height: 1050px;
  border-radius: 2px;
  background-color: rgb(255, 251, 100);
  z-index: 10;
  float:left;
}

.beer-photo-front {
  position: relative;
  top: 15px;
  left: 15px;
  width: 720px;
  height: 1030px;
  border-width: 3px;
  border-style: solid;
  color: rgb(155, 125, 0);
  border-bottom-left-radius: 32px;
  background-repeat: no-repeat;
}

.back {
  width: 1050px;
  height: 750px;
  border-radius: 2px;
  background-color: rgb(205, 205, 205);
  z-index: 10;
  float:right;
}