body {
  font-family: "Helvetica-Neue", arial, sans-serif;
  background-color: #ddd;
}

.frontcard {
  width: 750px;
  height: 1050px;

}

.backcard {
  width: 1050px;
  height: 750px;

}

.front {
  width: 750px;
  height: 1050px;
  border-radius: 2px;
  background-color: rgb(255, 251, 100);
  z-index: 10;
  float:left;
}

.back {
  width: 1050px;
  height: 750px;
  border-radius: 2px;
  background-color: rgb(205, 205, 205);
  z-index: 10;
  float:right;
}